<h2 mat-dialog-title>Create new bookmark</h2>

<mat-dialog-content>
    <mat-form-field appearance="standard">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="name" required="true">
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>URL</mat-label>
        <input matInput [(ngModel)]="url" required="true">
    </mat-form-field>
    <mat-form-field appearance="standard">
        <mat-label>Group</mat-label>
        <mat-select [(ngModel)]="group" required="true">
            <mat-option *ngFor="let group of getGroups()" [value]="group"> {{group}} </mat-option>
        </mat-select>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button (click)=close()> CANCEL </button>
    <button mat-raised-button [disabled]=!isValid() color=primary (click)=createBookmark()> ADD </button>
</mat-dialog-actions>