.container {
    position: relative;
    padding: 0 3rem;
    max-width: 800px;
    margin: auto;
    
    h2 {
        text-align: center;
    }
}

.mat-fab {
    position: absolute;
    bottom: -1.8rem;
    right: 1rem;
}
