<mat-accordion>
    <mat-expansion-panel *ngFor="let group of groups" [disabled]="getGroupData(group).length < 1" #panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
              {{ group }}
            </mat-panel-title>
            <mat-panel-description>
              {{ getGroupData(group).length }} item(s) in this group
            </mat-panel-description>
        </mat-expansion-panel-header>

        <app-table
            [dataSource]=getGroupData(group)
            (onDelete)=deleteItem($event,group,panel)
        ></app-table>

    </mat-expansion-panel>
</mat-accordion>
  